@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/RedHatText/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/RedHatText/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/RedHatText/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("/fonts/RedHatText/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Globals */
.bg-rose-50 { background-color: hsl(20, 50%, 98%); }
.bg-rose-100 { background-color: hsl(13, 31%, 94%); }
.bg-rose-300 { background-color: hsl(14, 25%, 72%); }
.bg-rose-400 { background-color: hsl(7, 20%, 60%); }
.bg-rose-500 { background-color: hsl(12, 20%, 44%); }
.bg-rose-900 { background-color: hsl(14, 65%, 9%); }
.font-redhat { font-family: "Red Hat Text"; }
* {
  font-family: "Red Hat Text";
}
